{{ define "main" }}
<section id="intro" class="container-fluid">
	<div id="hero" class="container">
		<h1 id="professional-name" class="center-text animate__animated animate__fadeInUp">
			{{ .Site.Params.LastName }} {{ .Site.Params.FirstName}}
		</h1>
		<h4 id="professional-title" class="center-text animate__animated animate__fadeInUp">
			{{ .Site.Params.Subtitle }}
		</h4>
	</div>
</section>
<section id="expertise" class="container-fluid">
	<div id="expertise-network-container"></div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.min.js"></script>
<script src="/js/expertise-network-generator.js"></script>
{{ end }}