:root {
	--primary: #546e7a !important;
	--secondary: #68547a !important;
	--concept-color: #81ecec;
	--framework-color: #a29bfe;
	--techstack-color: #ff7675;
	--pico-font-family: "Noto Serif", serif !important;
}

.nav-logo {
	height: 24px;
	width: 24px;
	margin-bottom: 2px;
	margin-right: 2px;
}

#professional-name {
	font-size: 48px;
	font-weight: 600;
}

#professional-title {
	letter-spacing: 0.125rem;
	font-weight: normal;
}

#hero {
	padding-top: 8rem;
}

#hero #hero-img img {
	max-width: 440px;
}

#hero #hero-scroll {
	margin-top: 2rem;
}

#hero #hero-scroll i {
	animation: pulse-vertical 2s infinite;
}

@keyframes pulse-vertical {
	0% {
		transform: translate(0, 0);
	}

	20% {
		transform: translate(0, 10px);
	}

	100% {
		transform: translate(0, 0);
	}
}

.center-text {
	text-align: center;
}

#expertise-network-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

svg#expertise-network {
	fill: var(--color) !important;
	stroke: var(--color) !important;
	stroke-opacity: 0.3;
	width: 100%;
	height: auto;
	max-width: 768px;
}

svg#expertise-network.hovered {
	fill-opacity: 0.2;
	stroke-opacity: 0.05;
}

svg#expertise-network g#nodes {
	stroke: none;
}

svg#expertise-network g#links line {
	transition-property: stroke, stroke-opacity;
	transition-duration: 200ms;
}

svg#expertise-network g#links line.active  {
	stroke: var(--secondary) !important;
	stroke-opacity: 1;
}

svg#expertise-network g#nodes circle {
	transition-property: fill, fill-opacity;
	transition-duration: 200ms;
}

svg#expertise-network g#nodes circle.concept {
	fill: var(--concept-color);
}

svg#expertise-network g#nodes circle.framework {
	fill: var(--framework-color);
}

svg#expertise-network g#nodes circle.techStack {
	fill: var(--techstack-color);
}

svg#expertise-network g#nodes circle:hover {
	cursor: pointer;
}

svg#expertise-network g#nodes circle.active {
	fill-opacity: 1;
}

svg#expertise-network g#labels text {
	stroke: none;
	transition-property: fill, fill-opacity;
	transition-duration: 500ms;
}

svg#expertise-network g#labels .active text {
	fill-opacity: 1;
}

#experience-container .experience {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.experience-date {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	align-self: stretch;
	margin-right: 1rem;
	max-width: 100px;
	font-size: 0.8rem;
	color: var(--muted-color);
} 

.experience-date-divider {
	background-color: var(--muted-color);
	flex-grow: 1;
	width: 2px;
	position: relative;
	margin: 0.5rem 1rem;
}

.experience:not(:last-child) {
	margin-bottom: 4rem;
	position: relative;
}

.experience:not(:last-child)::after {
	content: '';
	position: absolute;
	bottom: -4rem;
	height: 3rem;
	width: 2px;
	letter-spacing: 2px;
	margin: 0.5rem 1rem;
	border-left: 4px dotted var(--muted-color);
}

.experience-date-divider::before, .experience-date-divider::after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: var(--muted-color);
	position: absolute;
	left: -4px;
}

.experience-date-divider::before {
	top: -5px;
}

.experience-date-divider::after {
	bottom: -5px;
}


.showcase-content {
	margin: var(--block-spacing-vertical) 0;
	border-radius: var(--border-radius);
	background: var(--card-background-color);
	box-shadow: var(--card-box-shadow);
}

.showcase-content__image-container {
	border-radius: var(--border-radius);
	overflow: hidden;
}

.showcase-content__image-container img {
	transition: transform 200ms;
}

.showcase-content:hover .showcase-content__image-container img {
	transform: scale(1.05);
}

.showcase-content__detail {
	padding: var(--spacing);
}

.showcase-content:hover {
	text-decoration: none;
}

.footer {
	color: var(--muted-color);
	font-size: 0.8rem;
}
