:root {
	--primary: #546e7a !important;
	--secondary: #68547a !important;
	--font-family: "Open Sans", Sans-serif !important;
}

#professional-name {
	font-size: 48px;
	font-weight: 600;
}

#professional-title {
	letter-spacing: 0.125rem;
	font-weight: normal;
}

#hero {
	padding-top: 4rem;
}

#hero #hero-img img {
	max-width: 440px;
}

#hero #hero-scroll {
	margin-top: 2rem;
}

#hero #hero-scroll i {
	animation: pulse-vertical 2s infinite;
}

@keyframes pulse-vertical {
	0% {
		transform: translate(0, 0);
	}

	20% {
		transform: translate(0, 10px);
	}

	100% {
		transform: translate(0, 0);
	}
}

.center-text {
	text-align: center;
}

.nav-logo {
	height: 24px;
	width: 24px;
	margin-bottom: 2px;
	margin-right: 2px;
}

#expertise-network-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

svg#expertise-network {
	fill: var(--color) !important;
	stroke: var(--color) !important;
	stroke-opacity: 0.3;
	width: 100%;
	height: auto;
	max-width: 768px;
}

svg#expertise-network.hovered {
	fill-opacity: 0.2;
	stroke-opacity: 0.05;
}

svg#expertise-network g#nodes {
	stroke: none;
}

svg#expertise-network g#links line {
	transition-property: stroke, stroke-opacity;
	transition-duration: 200ms;
}

svg#expertise-network g#links line.active  {
	stroke: var(--secondary) !important;
	stroke-opacity: 1;
}

svg#expertise-network g#nodes circle {
	transition-property: fill, fill-opacity;
	transition-duration: 200ms;
}

svg#expertise-network g#nodes circle:hover {
	cursor: pointer;
}

svg#expertise-network g#nodes circle.active {
	fill-opacity: 1;
}

svg#expertise-network g#labels text {
	stroke: none;
	transition-property: fill, fill-opacity;
	transition-duration: 500ms;
}

svg#expertise-network g#labels .active text {
	fill-opacity: 1;
}